<h2><%= email.object %></h2>
<p><%= email.content %></p>
<button class="btn btn-warning"><%= link_to 'DELETE', email_path(id: email), method: :delete, remote: true %></button>
<button class="btn btn-secondary"><%= link_to 'MARQUER NON LU', email_path(id: email), method: :put, remote: true %></button>

